---
http_interactions:
- request:
    method: post
    uri: http://map.matkahuolto.fi/map24mh/searchoffices
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <MHSearchOfficesRequest>
          <Login>1234567</Login>
          <Version>1.0</Version>
          <StreetAddress>Ainolankatu</StreetAddress>
          <PostalCode>04400</PostalCode>
        </MHSearchOfficesRequest>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: '%3C%3Fxml+version%3D%271.0%27+encoding%3D%27ISO-8859-1%27%3F%3E%0A%3CMHSearchOfficesReply%3E%0A%3COffice%3E%0A%3CSeqNumber%3E1%3C%2FSeqNumber%3E%0A%3CId%3E5385%3C%2FId%3E%0A%3CType%3ETRS%3C%2FType%3E%0A%3CName%3ESIWA+PUISTOTIE%3C%2FName%3E%0A%3CStreetAddress%3EPUISTOTIE+33%3C%2FStreetAddress%3E%0A%3CPostalCode%3E04420%3C%2FPostalCode%3E%0A%3CCity%3EJ%C4RVENP%C4%C4%3C%2FCity%3E%0A%3CCountry%3EFI%3[...]
